.center{
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* color: white; */
    /* background-color: red;    */

}
/* Type, class, and ID selectors */
*{ text-decoration: dashed;}
h1{
}
.h1{}
#h1{
    background-color: yellow;
}
li[class~="a"]{
    font-size: 2em;
    color: red;
}
.box::before{
    content: "My name is";
}